In [10]:
import pandas as pd

In [11]:
labels_df = pd.DataFrame()
for i in range(10):
    col_i = pd.read_csv(f"../../data/magnets_20k_10_runs_1000_samples/magnet_positions_run_{i+1}", index_col=0)
    labels_df[f'labels_{i+1}'] = col_i["0"].values

In [12]:
labels_df

,labels_1,labels_2,labels_3,labels_4,labels_5,labels_6,labels_7,labels_8,labels_9,labels_10
0,18120,13166,13271,7857,3873,8423,5432,7349,420,17077
1,14722,1290,7545,13123,876,16698,12378,12998,11874,5487
2,10529,5658,5263,3951,10729,11197,19206,2166,703,2362
3,6495,16637,19296,12863,8456,3658,6012,11134,6950,17593
4,8274,9064,9749,733,8285,18742,16823,9277,14652,12516

In [21]:
LGR_scores = pd.read_csv(f"../../data/magnets_20k_10_runs_1000_samples/results_ave_mae__2.csv", index_col =0)
LGR_scores.sort_values("ave_MAE").head(20)

             Gene   ave_MAE
90    Feature_919  0.011552
20   Feature_9539  0.011687
38   Feature_3348  0.011700
34  Feature_16380  0.011733
10    Feature_189  0.011742
47  Feature_19153  0.011742
94    Feature_182  0.011746
80  Feature_15896  0.011750
37  Feature_15082  0.011752
60    Feature_517  0.011761
7   Feature_17804  0.011761
26  Feature_16658  0.011768
63  Feature_13373  0.011768
84  Feature_16489  0.011768
92  Feature_12012  0.011768
87   Feature_6216  0.011769
50  Feature_13861  0.011769
28   Feature_1918  0.011771
70   Feature_9625  0.011773
69  Feature_18898  0.011774